@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content-mh {
  height: calc(100vh - 64px - 70px);
}

/* .ant-layout-header {
  height: 64px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #001529;
} */
